.search-container {
  margin: 2rem 10% 0 10%;
  height: 12rem;
  background-color: rgb(247, 246, 246);
  border-radius: 2px;
  border: 1px gray;
}
.card-container1 {
  margin: 0 10% 0 10%;
  padding: 0 100px 0 100px;
  height: 35rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: 1px solid white;
}
.back {
  position: absolute;
  margin: 1% 0 0 3%;
}
.back-icon {
  display: inline-block;
  margin-right: 10px;
}
.back-text {
  display: inline-block;
}
.logo-container1 {
  position: absolute;
  margin: 7% 0 0 3%;
  display: flex;
}
.profile {
  width: 6%;
  height: 6%;
}
.user-name {
  margin-top: 7px;
  margin-left: 15px;
}
.wrap {
  padding: 50px 30px 20px 30px;
}
.card1 {
  margin-top: 15px;
  height: 70px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}
