.search-container {
  margin: 2rem 10% 0 10%;
  height: 12rem;
  background-color: rgb(247, 246, 246);
  border-radius: 2px;
  border: 1px gray;
}
.card-container {
  margin: 0 10% 0 10%;
  padding: 0 100px 0 100px;
  height: 25rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: 1px solid white;
}
.logo-container {
  position: absolute;
  margin: 3% 5% 5% 3%;
  display: flex;
}
.logo {
  width: 6%;
  height: 6%;
}
.heading {
  margin: 4px 0 0 10px;
  font-size: 2rem;
  font-weight: bold;
}
.search-bar {
  position: relative;
  margin: 2% 5% 0 1%;
  top: 125px;
}
.search {
  color: white;
  position: relative;
  width: 3%;
  height: 3%;
  left: 40px;
  bottom: 2px;
  background-color: rgb(34, 150, 243);
}
.input {
  color: white;
  border: 0;
  outline: 0;
  padding: 6px 50px 6px 50px;
  width: 40%;
  background-color: rgb(34, 150, 243);
  box-shadow: 1px 1px 4px 0 gray;
}
.search-1 {
  cursor: pointer;
  color: white;
  position: relative;
  left: 390px;
  background-color: rgb(34, 150, 243);
}
.card {
  margin-top: 30px;
  height: 150px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}
.user {
  height: 20%;
  margin: 10px 0 0 10px;
}

::placeholder {
  color: white;
  opacity: 1;
}
:-ms-input-placeholder {
  color: white;
}
::-ms-input-placeholder {
  color: white;
}
